<!-- mangas/templates/mangas/upload.html -->

{% extends "layouts/layout.html" %}
{% block title %}
    Upload Volume | {{ block.super }}
{% endblock title %}
{% block content %}
  <h4><small>Upload Volumes</small></h4>
  <hr>
  <div class="card-body">
    <div class="table-responsive">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="form-group">                    
          <label for="comment">Name:</label>
          <input type="text" class="form-control" rows="5" name="name">
        </div>
        <label for="comment">Number of chapters</label>                  
            <select class="form-control" aria-label="Default select example" name="num_of_chapters">
                <option selected>Each file is a chapter</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <div class="form-group">
          <label for="comment">Content<span style="color: red">*</span> :</label>
          <input type="file" class="form-control" rows="5" name="images" multiple>
        </div>
        <button class="btn btn-secondary" type="submit">Upload volume</button>
      </form>
    </div>
  </div>
{% endblock content %}